<div class="editor-toolbar">
  @for (action of alignmentActions; track action.id) {
    <button
      type="button"
      class="editor-toolbar__button"
      [class.editor-toolbar__button--active]="activeAlignment() === action.id"
      [title]="action.label"
      [attr.aria-label]="action.label"
      (click)="runAction(action)"
    >
      <i [class]="action.icon"></i>
    </button>
  }
  <button
    type="button"
    class="editor-toolbar__button"
    title="Buscar e substituir"
    aria-label="Buscar e substituir"
    (click)="searchToggled.emit()"
  >
    <i class="pi pi-search"></i>
  </button>
</div>
